<!-- <footer class="main-footer">
  <strong>
    Copyright &copy; {{ currentYear }}
    <a href="javascript:;">MyProject</a>.
  </strong>
  <div class="float-right d-none d-sm-inline-block">
    <b>{{ "Version" | localize }} </b> {{ versionText }}
  </div>
</footer> -->
<section class="mt-5" style="background-color: rgb(243, 244, 227);">
  <div class="min container " style="padding-top: 1px;">
    <h4 class="text-center mt-4 mb-3" style="font-weight: 500;">Khám phá Jeju</h4>
    <div class="row">
      <div class="item col-4">
        <img class="mw-100" src="../assets/img/jeju1.png" alt="" style="height: 250px" width="100%">
        <div class="title">
          <h6 class="">Mơ về hòn đảo tình yêu? Cẩm nang du lịch Jeju chi tiết nhất cho bạn đây</h6>
          <h6 class="author"><i class="fas fa-pen-nib"></i> Nguyễn Thuy Mộc Nhiên </h6>
          <a class="status">12min read</a>

        </div>
      </div>
      <div class="item col-4">
        <img class="mw-100" src="../assets/img/jeju2.png" alt="">
        <div class="title">
          <h6 class="">Mơ về hòn đảo tình yêu? Cẩm nang du lịch Jeju chi tiết nhất cho bạn đây</h6>
          <h6 class="author"> <i class="fas fa-pen-nib"></i>Nguyễn Thuy Mộc Nhiên </h6>
          <a class="status">12min read</a>

        </div>
      </div>
      <div class="item col-4">
        <img class="mw-100" style="height: 249px;" src="../assets/img/jeju3.png" alt="">
        <div class="title">
          <h6 class="">Mơ về hòn đảo tình yêu? Cẩm nang du lịch Jeju chi tiết nhất cho bạn đây</h6>
          <h6 class="author"> <i class="fas fa-pen-nib"></i>Nguyễn Thuy Mộc Nhiên </h6>
          <a class="status">12min read</a>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">


  <section class="m-5 ">
    <h3 class="text-center">Tại sao nên đặt chỗ tại Snake-Store</h3>
    <div class="row mt-3">
      <div class="col-3">
        <div class="img text-center">
          <img src="../assets/img/logon-hoan-thien.png" alt="">
        </div>
        <div class="title-img">
          <span>Giải pháp du lịch hoàn thiện</span>
        </div>
        <span>Giải pháp toàn diện- giúp bạn tìm chuyến bay và khách sạn khắp Việt Nam và Đông Nam Á một cách tiết
          kiệm</span>
      </div>
      <div class="col-3">
        <div class="img text-center">
          <img src="../assets/img/logo-gia-re.png" alt="ngu">
        </div>
        <div class="title-img">
          <span>Giá rẻ mỗi ngày</span>
        </div>
        <span>Giá bạn thấy sẽ là giá bạn trả! Dễ dàng so sánh khi không cần phải trả thêm chi phí ẩn</span>
      </div>
      <div class="col-3">
        <div class="img text-center">
          <img src="../assets/img/logo-thanhtoan.png" alt="dan">
        </div>
        <div class="title-img">
          <span>Phương thức thanh toán an toàn và linh hoạt</span>
        </div>
        <span>Giao dịch trực tuyến an toàn với nhiều lựa chọn như thanh toán tại cửa hàng tiện lợi, chuyển khoản ngân
          hàng, thẻ tín dụng internet. Không tính phí giao dịch</span>
      </div>
      <div class="col-3">
        <div class="img text-center ">
          <img src="../assets/img/logo-support.png" alt="">
        </div>
        <div class="title-img">
          <span>Hỗ trợ 24/7</span>
        </div>
        <span>Đội ngũ nhân viên hỗ trợ khách hàng luôn sẵn sàng giúp đỡ bạn trong quá trình đặt vé</span>
      </div>
    </div>
  </section>

  <section class="input-footer container ">
    <div class="row">
      <div class="col-7" style="margin-top: 1.19rem;">
        <!-- <i class="bi bi-envelope"></i> -->
        <h4>Bạn muốn tiết kiệm tới 50% khi đặt phòng và đặt vé máy bay</h4>
        <p>Nhập số điện thoại để Snake-4U có thể gửi đến bạn những chương trình khuyến mãi mới nhất</p>
      </div>
      <div class="col-5">
        <input class="me-2"
          style="width: 380px; height: 30px; border-radius: 10px; opacity: 0.6; height: 44px; padding-left: 10px;"
          type="tel">
        <button class="b-"
          style="background-color: #F36; margin-top: 1.9rem; height: 44px ;width: 112px;border-radius: 10px; border: 0;"><a
            style="color: #fff;" href="">Đăng
            kí
          </a></button>
      </div>
    </div>
  </section>
</div>
<div class="section-footer">
  <div class="container-footer container">



    <section class="container" style="padding-top: 70px;">
      <mat-tab-group>
        <mat-tab label=" Các chặng bay và hãng bay ">
          <div class="row container">
            <div class="col-3 " style="padding-left: 58px;">
              <ul>

              </ul>
              <li>Vé máy bay đi Đà Nẵng</li>
              <li>Vé máy bay đi Phú Quốc</li>
              <li>Vé máy bay đi Nha Trang</li>
              <li>Vé máy bay đi Hà Nội</li>
              <li>Vé máy bay đi Đà Lạt</li>
              <li>Vé máy bay đi Hải Phòng</li>
            </div>
            <div class="col-3">
              <ul></ul>
              <li><a href="">Vé máy bay Sài Gòn - Hà Nội</a></li>
              <li><a href="">Vé máy bay Sài Gòn - Phú Quốc</a></li>
              <li><a href="">Vé máy bay Sài Gòn - Nha Trang</a></li>
              <li><a href="">Vé máy bay Sài Gòn - Đà Nẵng</a></li>
              <li><a href="">VÉ máy bay Sài Gòn - Đà Lạt</a></li>
              <li><a href="">Vé máy bay đi Singapore</a></li>
            </div>
            <div class="col-3">
              <p></p>
              <li><a href="">Vé máy bay Hà Nội - Sài Gòn</a></li>
              <li><a href="">Vé máy bay Hà Nội - Phú Quốc</a></li>
              <li><a href="">Vé máy bay Hà Nội - Đà Nẵng</a></li>
              <li><a href="">Vé máy bay Hà Nội - Nha Trang</a></li>
              <li><a href="">Vé máy bay Hà Nội - Đà Lạt</a></li>
              <li><a href="">Vé máy bay đi Sài Gòn</a></li>

            </div>
            <div class="col-3">
              <p></p>
              <li><a href="">Vé máy bay Đà Nẵng - Hà Nội</a></li>
              <li><a href="">Vé máy bay Đà Nẵng - Sài Gòn</a></li>
              <li><a href="">Vé máy bay Hồ Chí Minh - BangKok</a></li>
              <li><a href="">Vé máy bay Hồ Chí Minh - Singapore</a></li>
              <li><a href="">Vé máy bay Hà Nội - BangKok</a></li>
              <li><a href="">Vé máy bay Đà Nẵng - Hà Nội</a></li>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Các khách sạn hàng đầu">
          <div class="container row " style="padding-left: 58px;">
            <div class="col-4 ">

              <li>Khách sạn Vũng Tàu</li>
              <li>Khách sạn Đà Lạt</li>
              <li>Khách sạn Đà Nẵng</li>
              <li>Khách sạn Hồ Chí Minh</li>
            </div>
            <div class="col-4">

              <li>Khách sạn Nha Trang</li>
              <li>Khách sạn Hội An</li>
              <li>Khách sạn Sa Pa</li>
              <li>Khách sạn Hà Nội</li>

            </div>
            <div class="col-4">

              <li>Khách sạn Phan Thiết</li>
              <li>Khách sạn Phú Quốc</li>
              <li>Khách sạn Quy Nhơn</li>
              <li>Vé máy bay Tết</li>

            </div>
          </div>
        </mat-tab>
        <mat-tab label="Combo Vé máy bay và Khách sạn">
          <div class="">
            <div class="container row " style="padding-left: 58px;">
              <div class="col-4 ">

                <li>Combo du lịch TP Hồ CHí Minh</li>
                <li>Combo du lịch Hà Nội</li>

              </div>
              <div class="col-4">

                <li>Combo du lịch Đà Nẵng</li>
                <li>Combo du lịch Singapore</li>


              </div>
              <div class="col-4">

                <li>Combo du lịch Nha Trang</li>
                <li>Combo du lịch Phú QUốc</li>


              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Hoạt động Tham quan và giải trí">

          <div class="container row " style="padding-left: 58px;">
            <div class="col-4 ">

              <li>Hoạt động Tham quan & Giải trí tại TP. HCM</li>
              <li>Hoạt động Tham quan & Giải trí tại Hội An</li>
              <li>Hoạt động Tham quan & Giải trí tại Đà Nẵng</li>
              <li>Hoạt động Tham quan & Giải trí tại Nha Trang</li>
              <li>Hoạt động Tham quan & Giải trí tại Đà Lạt</li>
            </div>
            <div class="col-4 ">

              <li>Hoạt động Tham quan & Giải trí tại Hà Nội</li>
              <li>Hoạt động Tham quan & Giải trí tại Phú Quốc</li>
              <li>Hoạt động Tham quan & Giải trí tại Sa Pa</li>
              <li>Hoạt động Tham quan & Giải trí tại Hà Giang</li>
              <li>Hoạt động Tham quan & Giải trí tại Ninh Bình</li>
            </div>
            <div class="col-4 ">

              <li>Hoạt động Tham quan & Giải trí tại Singapore/li>
              <li>Hoạt động Tham quan & Giải trí tại Thái Lan</li>
              <li>Hoạt động Tham quan & Giải trí tại Malaysia</li>
              <li>Hoạt động Tham quan & Giải trí tại Hà Quốc</li>
              <li>Hoạt động Tham quan & Giải trí tại Nhật Bản</li>
            </div>

          </div>
        </mat-tab>
      </mat-tab-group>
    </section>
    <section class="footer">
      <h3>TOUR-4U</h3>
      <div class="row">
        <div class="col-4">
          <ul>Công ty cổ phần du lịch Việt Nam Snake</ul>
          <li><a href="">Tổng đài chăm sóc:0329200397</a></li>
          <li><a href="">Email: hotro@Snaketour.com</a></li>
          <li><a href="">Văn Phòng: Tầng 8 tòa nhà Kim Ánh Hà nội</a></li>

        </div>
        <div class="col-4">
          <ul>Chính sách và Quy định</ul>
          <li><a href="">Điều khoản và điều kiện</a></li>
          <li><a href="">Quy định về thanh toán</a></li>
          <li><a href="">Chính sách bảo mật thông tin</a></li>
          <li><a href="">Quy chế hoạt động</a></li>
        </div>
        <div class="col-4 ">
          <ul>Khách hàng và đối tác</ul>
          <li><a href="">Đăng nhập</a>
          </li>
          <li><a href="">Tuyển dụng</a></li>
        </div>
      </div>
    </section>


  </div>
</div>
