<app-banner></app-banner>
<section class="pt-2">

    <div class="  container ">
        <!-- <app-banner></app-banner> -->
        <div class="list-item row  ">
            <div class="item col-2 ">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/20/1687227865303-92e8a9f380d1ac6cc541dee7a4d49a88.png?tr=q-75,w-256"
                    alt="">
                <p>Chuyến đi và Danh vọng</p>
            </div>
            <div class="item col-2">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/20/1687227867984-3c8e84185751a99679e258b0e16bc914.png?tr=q-75,w-256"
                    alt="">
                <p>Chuyến đi và Danh vọng</p>
            </div>
            <div class="item col-2">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/20/1687227873526-2c86a7c100d5a4bd96603a7eac3ec60a.png?tr=q-75,w-256"
                    alt="">
                <p>Chuyến đi và Danh vọng</p>
            </div>

        </div>
    </div>
    <section class="container">
        <h3>Tái khám phá bản thân ở Châu Á và những nơi khác</h3>
        <div class="row">
            <div class="col-4">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686721948003-7928a0b56734caaca663b9239cde96da.png?tr=q-75,w-427"
                    alt="">
                <div class="title" style="position: absolute;top: 30px;
            left: 100px;">
                    <h5 style="color: #fff;">Việt Nam</h5>
                    <p style="color: #fff;">17,736 accommodations</p>
                </div>
            </div>
            <div class="col-4">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/05/29/1685329328194-3d7df8cb31d4a3bf69f10209ba8402ec.png?tr=q-75,w-427"
                    alt="">
                <div class="title" style="position: absolute;top: 30px;
            left: 100px;">
                    <h5 style="color: #fff;">Thái Lan</h5>
                    <p style="color: #fff;">20,736 accommodations</p>
                </div>
            </div>
            <div class="col-4">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722015787-18de277528bf9856fc61a3be4cfe4a4e.png?tr=q-75,w-427"
                    alt="">
                <div class="title" style="position: absolute;top: 30px;
            left: 100px;">
                    <h5 style="color: #fff;">Singapo</h5>
                    <p style="color: #fff;">17,736 accommodations</p>
                </div>
            </div>
            <div class="col-4 mt-4">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/05/29/1685328965749-d622f5f8496a6dc11d9b1aca65c6d58e.png?tr=q-75,w-427"
                    alt="">
                <div class="title" style="position: absolute;top: 30px;
            left: 100px;">
                    <h5 style="color: #fff;">Malaisia</h5>
                    <p style="color: #fff;">17,736 accommodations</p>
                </div>
            </div>
            <div class="col-4 mt-4">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/01/1685626590562-f7fc1564035ab9e353099a96c659b5c1.png?tr=q-75,w-427"
                    alt="">
                <div class="title" style="position: absolute;top: 30px;
            left: 100px;">
                    <h5 style="color: #fff;">Indonesia</h5>
                    <p style="color: #fff;">17,736 accommodations</p>
                </div>
            </div>
            <div class="col-4 mt-4">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/01/1685626793768-ea048e16aff039145ae995a58a35cffd.png?tr=q-75,w-427"
                    alt="">
                <div class="title" style="position: absolute;top: 30px;
            left: 100px;">
                    <h5 style="color: #fff;">Hàn Quốc</h5>
                    <p style="color: #fff;">17,736 accommodations</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <h3>Sống thoải mái ở những thành phố được yêu thích</h3>
        <div class="row">
            <div class="col-3">
                <img class="mw-100"
                    src=" https://ik.imagekit.io/tvlk/image/imageResource/2022/12/13/1670914161196-afbce60dd45c63d6c5bed755d16a8120.jpeg?tr=q-75,w-320"
                    alt="">
            </div>
            <div class="col-3">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2022/12/13/1670914189698-b7723439f23156f14825ef5e5695cc26.jpeg?tr=q-75,w-320"
                    alt="">
            </div>
            <div class="col-3">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2022/12/13/1670914145711-fc8b8f2cd80cbf7dd48de3ce415ae463.jpeg?tr=q-75,w-320"
                    alt="">
            </div>
            <div class="col-3">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/image/imageResource/2022/12/13/1670914155982-3e98712315e9a68b9a942290be244fee.jpeg?tr=q-75,w-320"
                    alt="">
            </div>
        </div>
        <div class="more text-center">
            <a class="" style="color: #0e0d0d;text-decoration: none;" href=""><h4>Xem thêm các khách sạn</h4></a>
        </div>

    </section>
    <section class="container">
        <h3>Các địa điểm không thể bỏ qua</h3>
        <p>Đi cùng người thân vừa vui vừa thích</p>
        <div class="row">
            <div class="col-3 " style="padding: 5px auto;">
                <img class=" mw-100"
                    src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2000908871772/Sun-World-Ba-Na-Hills-in-Da-Nang--f46390c4-d9cf-4909-a400-3148af83c36e.jpeg?_src=imagekit&tr=c-at_max,h-569,q-60,w-320"
                    alt="">
                <div class="title">
                    <h5>Vé Wonder Ba La Hills tại Đà Nẵng</h5>
                    <i class="pi pi-shopping-bag"> 165.000 VND</i>
                </div>
            </div>
            <div class="col-3">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2000908873783/Sun-World-Hon-Thom-Tickets-d272acd4-1ae4-4cd6-9533-ff578f023f9f.jpeg?_src=imagekit&tr=c-at_max,h-569,q-60,w-320"
                    alt="">
                <div class="title">
                    <h5>Vé Sun Word Hòn Thơm</h5>
                    <i class="pi pi-shopping-bag"> 240.000 VND</i>
                </div>
            </div>
            <div class="col-3 ">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2000684219858/VinWonders-Nha-Trang-Tickets--0746eb29-67c4-420e-bbff-d9a1337f1d6b.jpeg?_src=imagekit&tr=c-at_max,h-569,q-60,w-320"
                    alt="">
                <div class="title">
                    <h5>Vé Vinhome Nha Trang</h5>
                    <i class="pi pi-shopping-bag"> 543.000 VND</i>
                </div>
            </div>
            <div class="col-3 ">
                <img class="mw-100"
                    src="https://ik.imagekit.io/tvlk/xpe-asset/AyJ40ZAo1DOyPyKLZ9c3RGQHTP2oT4ZXW+QmPVVkFQiXFSv42UaHGzSmaSzQ8DO5QIbWPZuF+VkYVRk6gh-Vg4ECbfuQRQ4pHjWJ5Rmbtkk=/2000684220668/VinWonders-Phu-Quoc-Tickets-25dfef53-d71e-46c2-8578-839f9288f86b.jpeg?_src=imagekit&tr=c-at_max,h-569,q-60,w-320"
                    alt="">
                <div class="title">
                    <h5>Vé Wonder Phú Quốc</h5>
                    <i class="pi pi-shopping-bag"> 921.000 VND</i>
                </div>
            </div>
        </div>
        <h4 class="more text-center">Xem tất cả</h4>


        <!-- <app-footer></app-footer> -->
    </section>
    <app-footer></app-footer>
