*, *::before, *::after {
    box-sizing: border-box;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 100px;
}
img {
    vertical-align: middle;
    border-style: none;
    max-width: max-content;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.flex-center-between {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}
.font-weight-bold {
    font-weight: 500 !important;
}
.font-size-23 {
    font-size: 1.438rem;
}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}
.list-group {
    list-style: none;
}
.list-group-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
}
.list-group {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    border-top-right-radius: 0;
}
.list-group-borderless .list-group-item {
    border: none;
}
.list-group .list-group-item {
    font-size: 1rem;
}
.list-group-horizontal .list-group-item {
    margin-right: -1px;
    margin-bottom: 0;
}
.pl-1, .px-1 {
    padding-left: 0.25rem !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.425rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #e7eaf3;
}
.custom-social-share a {
    transition: all 0.2s ease-in-out;
}
.height-45 {
    height: 2.813rem;
}
.width-45 {
    width: 2.813rem;
}
.flex-content-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.border-width-2 {
    border-width: 2px !important;
}
.rounded {
    border-radius: 0.3125rem !important;
}
.border {
    border: 1px solid #e7eaf3 !important;
}
a {
    color: #297cbb;
    text-decoration: none;
    background-color: transparent;
}
.font-size-18 {
    font-size: 1.125rem;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.border-bottom {
    border-bottom: 1px solid #e7eaf3 !important;
}
.border-top {
    border-top: 1px solid #e7eaf3 !important;
}
.text-lh-sm {
    line-height: 1.2;
}
.flex-horizontal-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
.col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.font-size-22 {
    font-size: 1.375rem;
}
.text-primary {
    color: #297cbb !important;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
.d-block {
    display: block !important;
}
.text-gray-1 {
    color: #67747c !important;
}
.ml-1, .mx-1 {
    margin-left: 0.25rem !important;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.font-weight-bold {
    font-weight: 500 !important;
}
.font-size-16 {
    font-size: 1rem;
}
.p-4 {
    padding: 1.5rem !important;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.text-left {
    text-align: left !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.border-color-1 {
    border-color: #eaeaea !important;
}
.u-datepicker {
    position: relative;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group > .form-control{
     position: relative;
     -ms-flex: 1 1 auto;
    flex: 1 1 auto;
     width: 1%;
     margin-bottom: 0;
}
.u-datepicker .flatpickr-calendar {
    top: 3.75rem !important;
    left: 0 !important;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}
.flatpickr-calendar {
    background: transparent;
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    padding: 0;
    -webkit-animation: none;
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    position: absolute;
    width: 307.875px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: #fff;
    -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);
    box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);
}
.u-datepicker .flatpickr-months {
    position: relative;
    background-color: #297cbb;
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    padding: 0.75rem;
}
.flatpickr-months {
    display: flex;
}
.u-datepicker .flatpickr-prev-month.flatpickr-prev-month, .u-datepicker .flatpickr-next-month.flatpickr-prev-month {
    left: 0.75rem;
}
.u-datepicker .flatpickr-prev-month, .u-datepicker .flatpickr-next-month {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.u-datepicker .flatpickr-current-month, .u-datepicker .flatpickr-prev-month, .u-datepicker .flatpickr-next-month {
    padding: 0;
}
.u-datepicker .flatpickr-prev-month svg, .u-datepicker .flatpickr-next-month svg {
    fill: rgba(255, 255, 255, 0.7);
}
.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
    width: 14px;
    height: 14px;
}
svg {
    margin-bottom: -0.4375rem;
    vertical-align: baseline;
    overflow: hidden;
}
.flatpickr-months .flatpickr-month {
    background: transparent;
    color: rgba(0,0,0,0.9);
    fill: rgba(0,0,0,0.9);
    height: 28px;
    line-height: 1;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flatpickr-current-month {
    font-size: 135%;
    line-height: inherit;
    font-weight: 300;
    color: inherit;
    position: absolute;
    width: 75%;
    left: 12.5%;
    padding: 6.16px 0 0 0;
    line-height: 1;
    height: 28px;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.u-datepicker .flatpickr-months .cur-month, .u-datepicker .flatpickr-months .cur-year {
    color: #fff;
}
.flatpickr-current-month span.cur-month {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    margin-left: 0.5ch;
    padding: 0;
}
.flatpickr-current-month .numInputWrapper {
    width: 6ch;
    display: inline-block;
}
.numInputWrapper {
    position: relative;
    height: auto;
}
.numInputWrapper span.arrowUp {
    top: 0;
    border-bottom: 0;
}
.numInputWrapper span {
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    cursor: pointer;
    border: 1px solid rgba(57,57,57,0.15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.numInputWrapper span.arrowDown {
    top: 50%;
}
.u-datepicker .numInputWrapper span.arrowUp, .u-datepicker .numInputWrapper span.arrowDown {
    display: none;
}
.pb-1, .py-1 {
    padding-bottom: 0.25rem !important;
}
.font-size-10 {
    font-size: 0.625rem;
}
.width-30 {
    width: 1.875rem;
}
.shadow-none {
    box-shadow: none !important;
}
.text-center {
    text-align: center !important;
}
.h-auto {
    height: auto !important;
}
.btn-primary:not(label.btn) {
    background-color: #297cbb;
    border-color: #297cbb;
}
.btn[href] {
    cursor: pointer;
}
.transition-3d-hover {
    transition: all 0.2s ease-in-out;
}
.height-60 {
    height: 3.75rem;
}
.w-100 {
    width: 100% !important;
}
.mb-xl-0, .my-xl-0 {
    margin-bottom: 0 !important;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}
.d-flex {
    display: flex !important;
}
.btn-primary {
    color: #fff;
    background-color: #297cbb;
    border-color: #297cbb;
}
.btn {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.9rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3125rem;
    transition: all 0.2s ease-in-out;
}