<div class="container " style="position: relative; top: 95px;">
    <div class="row">
        <section class=" row">
            <div class="card col-8">
                <div class="title row pt-2">
                    <h4 class="col-9 me-5 ">Thông tin liên hệ (nhận vé/phiếu thanh toán)</h4>
                    <!--                    <button class="col-2 btn btn-primary">-->
                    <!--                        Lưu-->
                    <!--                    </button>-->
                </div>
                <div class="row">
                    <div class="box1 col-6">
                        <h5>Họ </h5>
                        <input class="ps-2" type="text" placeholder="Nhập họ">
                    </div>
                    <div class="box1 col-6">
                        <h5>Tên đệm</h5>
                        <input class="ps-2" type="text" placeholder="Nhập tên đệm">

                    </div>

                </div>
                <div class="row">
                    <div class="box1 col-6">
                        <h5>Điện thoại di động </h5>
                        <input class="ps-2" type="text" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="box1 col-6">
                        <h5>Email</h5>
                        <input class="ps-2" type="text" placeholder="Nhập địa chỉ email">
                    </div>
                </div>
                <h3>Thông tin khách hàng</h3>
                <section class="">
                    <div class="title row">
                        <h5 class="col-9 me-5">Người lớn</h5>
                        <!--                        <button class="col-2 btn btn-primary">-->
                        <!--                            Lưu-->
                        <!--                        </button>-->
                    </div>
                </section>
                <div class="title">
                    <p>Chú ý! Đối với trường hợp khách đi du lịch quốc tế hoặc cảnh ở nước ngoài, hộ chiếu bắt buộc phải
                        có hiệu lực ít nhất 6 tháng tính từ ngày khởi hành</p>
                    <p>
                        Hãy chắc chắn rằng tên của hành khách khớp với tên trên CCCD/CMND/Hộ chiếu/Giấy phép lái xe do
                        chính
                        phủ cấp.

                    </p>
                    <p>Bạn nên tránh sai sót vì một số hãng hàng không cho phép sửa tên sau khi đặt vé.</p>
                </div>
                <div class="row">
                    <div class="box1 col-6">
                        <h5>Họ và tên </h5>
                        <input class="ms-2 ps-2" type="text" placeholder="Nhập họ">
                    </div>
                    <div class="box1 col-6">
                        <h5>Số căn cước</h5>
                        <input class="ps-2" type="text" placeholder="Số căn cước">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5>Ngày sinh</h5>
                        <div class="col-xs-12 col-6 col-md-4 form-group  ">
                            <input class="ps-2" placeholder="Mời bạn nhập ngày sinh" #dp="bsDatepicker" bsDatepicker>
                        </div>
                    </div>
                    <!-- <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
                                    <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"
                                        type="button">Tìm kiếm</button>
                                </div> -->
                    <div class="col-6">
                        <h5>Quốc tịch</h5>
                        <input class="ps-2" type="text" placeholder="Quốc tịch">
                    </div>
                </div>
            </div>
            <section class="col-3 pt-3 ps-4 card ms-4" style="height: 300px;">
                <i class="fas fa-plane-departure">
                    <span style="font-family: 'Times New Roman', Times, serif; font-size: 20px;">Ha Noi - Da Lat</span>
                    <a style="float: right;font-family: 'Times New Roman', Times, serif; font-size: 20px;">Chi
                        tiết</a>

                </i>
                <h5 class="mt-2">Chuyến bay đi từ ngày 11/7/2023</h5>
                <div class="row mt-1">
                    <img class="col-6" src="https://media.loveitopcdn.com/3807/logo-vietjet-20.png"
                        style="width: 120px; height: 40px;" alt="">
                    <h5 class="title vietjet col-6">
                        Việt Jet khuyến mãi
                    </h5>

                </div>
                <div class=" img mt-1">
                    <img width="15px" height="15"
                        src="https://img.icons8.com/external-those-icons-flat-those-icons/15/external-Check-interface-those-icons-flat-those-icons-2.png"
                        alt="external-Check-interface-those-icons-flat-those-icons-2" /> <span> Có thể hoàn
                        vé</span><br>
                    <img width="15px" height="15"
                        src="https://img.icons8.com/external-those-icons-flat-those-icons/15/external-Check-interface-those-icons-flat-those-icons-2.png"
                        alt="external-Check-interface-those-icons-flat-those-icons-2" /> <span> Có áp dụng đổi chuyến
                        bay</span>

                </div>
            </section>
            <h4>Thêm tiện ích cho chuyến đi</h4>


        </section>
        <section class="  row">
            <div class="col-8 card">
                <img style="height: 48px;width: 48px;" src="assets/img/logo2.webp" alt="">
                <p>Bảo hiểm du lịch</p>
                <p> VND 70.000/1 khách</p>
                <ul>
                    <h4>AN tâm cho mỗi chuyến đi, bảo vệ bạn và chuyến bay bất kì trưởng ngại nào</h4>
                    <li>Quyền lợi bảo hiểm lên tới 2.000.000.000 VND cho tai nạn cá nhân</li>
                    <li>Quyền lợi bảo hiểm lên tới 30.000.000 VND cho trễ chuyến bay và hành lý đến
                        trễ
                    </li>
                    <li>Quyền lợi bảo hiểm lên tới 24.000.000 VND cho mất và hư hỏng hành lý</li>
                    <li>Quyền lợi bảo hiểm lên tới 300.000.000 VND cho huỷ chuyến bay (bởi các nguyên
                        nhân cụ
                        thể quy định trong quy tắc bảo
                        hiểm)</li>
                    <li>Quyền lợi bảo hiểm lên tới 20.000.000 VND cho lỡ chuyến bay chuyển tiếp</li>
                </ul>
            </div>
        </section>
        <section class="row">
            <div class="col-8 card">
                <img style="width: 48px;height: 48px;" src="../assets/img/logo3.webp" alt="">
                <p>Bảo hiểm trễ chuyến bay</p>
                <p>VND 33.000 /Khách</p>
                <ul>
                    <li>Bồi hoàn lên đến 600.000 VNĐ/ Người/ chuyến nếu chuyến bay của Người được bảo hiểm bị chậm trễ
                        hơn 120 phút.</li>
                    <li>Tự động thông báo nếu chuyến bay của Người được bảo hiểm bị chậm trễ và Người được bảo hiểm đủ
                        điều kiện để gửi yêu cầu
                        bồi hoàn.</li>
                    <li>Người được bảo hiểm chỉ hỉ cần cung cấp tài khoản ngân hàng để xử lý yêu cầu bồi hoàn và nhận
                        bồi hoàn sau 7 ngày làm
                        việc.</li>
                </ul>
            </div>
        </section>
        <section class="row">
            <div class="col-8 card">
                <img style="width: 48px;height: 48px;" src="../assets/img/logo4.webp" alt="">
                <h5>Bảo hiểm Chubb Baggage Protection</h5>
                <p>VND 16.000/ Khách</p>
                <ul>
                    <li>Bảo hiểm lên đến VND 20.000.000 cho mất hoặc hư hại đối với hành lý, quần áo và các vật dụng cá
                        nhân của Người Được Bảo
                        hiểm</li>
                    <li>Giới hạn VND3.000.000 cho mỗi món đồ</li>
                    <li>Với việc lựa chọn chương trình Bảo hiểm này, Quý Khách đã hiểu và đồng ý với Quyền
                        lợi, Quy tắc bảo hiểm
                        và Nội dung tuyên bố và ủy quyền do Công ty TNHH Bảo hiểm...</li>
                </ul>
            </div>
        </section>
        <h4></h4>
        <section class="row">
            <div class="col-3 ">

            </div>
        </section>
        <button onclick="alert('Bạn đã thanh toán thành công')" type="button" class="btn btn-primary ms-3"
            style=" width: 150px;margin-bottom: 85px; ">Đặt ngay
        </button>

    </div>
    <div class="container">
        <!-- <form>
            <mat-form-field>
                <input matInput placeholder="Số thẻ tín dụng">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Ngày hết hạn">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Mã bảo mật">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Thanh toán</button>
        </form> -->

        <!-- <mat-toolbar color="primary">
            <span>Thanh toán điện tử</span>
        </mat-toolbar> -->

        <!-- <mat-card>
            <mat-card-content>
                <h2>Thanh toán bằng thẻ ATM</h2>
                <mat-form-field>
                    <input matInput placeholder="Số thẻ ATM">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Mã PIN">
                </mat-form-field>

                <button mat-raised-button color="primary">Thanh toán</button>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h2>Thanh toán bằng mã QR</h2>
                <mat-form-field>
                    <input matInput placeholder="Mã QR">
                </mat-form-field>

                <button mat-raised-button color="primary">Thanh toán</button>
            </mat-card-content>
        </mat-card> -->
    </div>
    <!--    <form (ngSubmit)="submitForm()" #thongTinForm="ngForm">-->
    <!--        <label for="hoTen">Họ và tên:</label>-->
    <!--        <input type="text" id="hoTen" name="hoTen" required [(ngModel)]="khachHang.hoTen">-->
    <!--        <div *ngIf="thongTinForm.controls['hoTen'].invalid && (thongTinForm.controls['hoTen'].dirty || thongTinForm.controls['hoTen'].touched)">-->
    <!--            Họ và tên không được để trống.-->
    <!--        </div>-->

    <!--        <label for="email">Email:</label>-->
    <!--        <input type="email" id="email" name="email" required [(ngModel)]="khachHang.email">-->
    <!--        <div *ngIf="thongTinForm.controls['email'].invalid && (thongTinForm.controls['email'].dirty || thongTinForm.controls['email'].touched)">-->
    <!--            Email không hợp lệ hoặc để trống.-->
    <!--        </div>-->

    <!--        <button type="submit">Gửi</button>-->
    <!--    </form>-->


</div>
<app-footer></app-footer>
<!-- <input [(ngModel)]="inputData" class="form-control" type="text" placeholder="Nhập dữ liệu vào đây...">
<button class="col-2 btn btn-primary" [disabled]="!inputData">Lưu</button> -->