<app-banner></app-banner>
<section class="container" style="margin-top: 105px;">

    <div class="row ">
        <div class="card col-6">
            <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" style="width: 100%;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc" />
                    </div>
                </ng-template>
            </p-galleria>


        </div>
        <div class="box-product col-6">
            <!-- <div class="box2 " style="margin-left: 40px;">
                <h2 class="text-center">Chuyến du lịch</h2>
                <h3>Giá tour 3.300.000VND</h3>
                <div class=" row">
                    <button class=" col-6" style=" height: 50px; width: 150px;">Đặt ngay</button>
                    <button class="col-6 ms-5" style="height: 50px; width: 150px;">Thêm vào giỏ hàng</button>
                </div>
                <h3>
                    <i class="pi pi-wifi"> Free wifi</i>

                </h3>
            </div>


            <div class="title">
                <ul>
                    <h4>Thông tin</h4>
                    <li><a href="">Phòng ngủ gồm 2 giường</a></li>
                    <li><a href="">View đẹp</a>
                    </li>
                    <li><a href="">Có cung cấp dịch vụ ăn uống ở nhà hàng</a></li>
                    <li><a href="">Hỗ trợ các dịch vụ tiện ích khác</a></li>
                </ul>
            </div> -->
            <div class="title-product  ms-3">
                <h3>Hà Nội -Nha Trang 3 ngày 2 đêm</h3>
                <ul>
                    <h5>Thông tin tour</h5>
                    <li>Mã tour : 1518</li>
                    <li>Thời gian: 3 ngày 2 đêm</li>
                    <li>Thời gian khởi hành 11/7 - 14/7/2023</li>
                    <li>Vận chuyển: Xe du lịch</li>
                    <li>Xuất phát từ hà nội</li>
                </ul>
            </div>
            <div class="schedule">
                <ul>
                    <h4>Lịch trình</h4>
                    <li>Combo du lịch Nha Trang 3 ngày 2 đêm ở khách sạn gần trung tâm mang đến mức giá bất ngờ bạn và
                        gia đình sẽ được tận
                        hưởng kỳ nghỉ sang chảnh chuẩn 3 Sao.</li>
                    <li>Bao gồm 1 vé máy bay khứ hồi từ Hà Nội - Nha Trang của hãng hàng không Bamboo Airways. Vé đã gồm
                        7kg hành lý xách tay và
                        20kg hành lý.</li>
                    <li>Giá tiền : 4.000.222 VND</li>

                </ul>
            </div>

            <div class="row mt-4">
                <a onclick="alert('Thêm vào giỏ hàng thành công ')" href="#" class="btn btn-primary col-6 me-5 ms-3"
                    style="height: 50px;width: 250px;margin-left: 80px;color:  #fff;font-size: 20px;">Thêm vào giỏ
                    hàng</a>
                <a href="" class="btn btn-primary col-6" routerLink="../thanh-toan"
                    style="height: 50px;width: 250px;margin-left: 80px;color:  #fff;font-size: 20px;">Thanh toán
                </a>
            </div>
            <!-- <div class="schedule">
                <ul>
                    <h4>Lịch trình</h4>
                    <li>Combo du lịch Nha Trang 3 ngày 2 đêm ở khách sạn gần trung tâm mang đến mức giá bất ngờ bạn và
                        gia đình sẽ được tận
                        hưởng kỳ nghỉ sang chảnh chuẩn 3 Sao.</li>
                    <li>Bao gồm 1 vé máy bay khứ hồi từ Hà Nội - Nha Trang của hãng hàng không Bamboo Airways. Vé đã gồm
                        7kg hành lý xách tay và
                        20kg hành lý.</li>
                    <li>02 đêm/ 3 đêm nghỉ tại khách sạn (Miễn phí bữa sáng).</li>
                    <li>Combo Nha Trang là một hình thức mang đến cảm giác cho bạn và quý khách không bị gò bó trong
                        những lịch trình tour có
                        sẵn. Du khách thỏa sức lên kế hoạch cho chuyến đi của mình: Ở đâu, ăn gì, chơi như thế nào… lựa
                        chọn đặt combo du lịch
                        Nha Trang chính là phương án tốt nhất để tiết kiệm thời gian, công sức cho khách du lịch mà vẫn
                        không làm chuyến khám
                        phá của quý khách kém đi phần thú vị.</li>
                </ul>
            </div> -->

        </div>

    </div>
</section>
<app-footer></app-footer>
