.col-2dot4,
// extra small
.col-sm-2dot4,
// small
.col-md-2dot4,
// medium
.col-lg-2dot4,
// large
.col-xl-2dot4 {
    // extra large
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // margin-left: 116px;
}

.card {
    margin: 10px;
    width: 23.45%;
    height: auto;
}

img {
    // height: 260px;
    // width: 370px;
    object-fit: cover;
    transition: all 1s;
}

.img {
    overflow: hidden;
}

.card:hover img {
    transform: scale(1.2);
}

.email {
    height: 120px;
    background-color: rgb(188, 192, 192);
}

h4.box2 {
    margin-top: 20px;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: black;
}

a:hover button {
    color: #fff;
    background-color: orange;
}